<!DOCTYPE html>
<html lang="{{ page.language }}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="../assets/icon.png">

  <title>{% if page.title %}{{ page.title }}{% else %}{% t 'title' %}{% endif %} | {% t 'site.title' %}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="../assets/styles.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jstat@latest/dist/jstat.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>
  <script src="../assets/bundle.js"></script>
  <script src="../assets/app.js"></script>
</head>

<body class="h-100">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">UCC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="index.html">{% t 'layout.home' %}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="numeros-aleatorios" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {% t 'layout.ramdom_numbers' %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="numeros-aleatorios">
              <li>
                <a class="dropdown-item" href="aleatorios-uniforme.html">{% t 'layout.uniform_distribution' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="aleatorios-normal.html">{% t 'layout.normal_distribution' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="aleatorios-bernoulli.html">{% t 'layout.bernoulli_distribution' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="aleatorios-beta.html">{% t 'layout.beta_distribution' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="aleatorios-binomial.html">{% t 'layout.binomial_distribution' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="aleatorios-chi-cuadrado.html">{% t 'layout.chi_square_distribution' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="aleatorios-chi.html">{% t 'layout.chi_distribution' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="aleatorios-exponencial.html">{% t 'layout.exponential_distribution' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="aleatorios-gamma.html">{% t 'layout.gamma_distribution' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="aleatorios-pareto.html">{% t 'layout.pareto_distribution' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="aleatorios-poisson.html">{% t 'layout.poisson_distribution' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="aleatorios-triangular.html">{% t 'layout.triangular_distribution' %}</a>
              </li>


            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pruebas-bondad" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {% t 'layout.goodness_of_fit_test' %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="pruebas-bondad">
              <li>
                <a class="dropdown-item" href="prueba-mvc.html">Prueba de medias, varianza y corridas</a>
              </li>
              <li>
                <a class="dropdown-item" href="prueba-series.html">Prueba de series</a>
              </li>
              <li>
                <a class="dropdown-item" href="prueba-poker.html">Prueba de poker</a>
              </li>
              <li>
                <a class="dropdown-item" href="prueba-chi-cuadrado-normal.html">{% t 'layout.chi_squared_test' %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="prueba-chi-cuadrado-normal.html">{% t 'layout.chi_squared_test_expo' %}</a>
              </li>
            </ul>
          </li>
        </ul>

        <a href="{{ site.repourl }}" target="_blank">
          <i class="bi bi-github mx-3" style="color: white; font-size: 22px;"></i>
        </a>

        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ page.language }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ site.url }}es/{{ page.path }}">Español</a></li>
              <li><a class="dropdown-item" href="{{ site.url }}en/{{ page.path }}">English</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  {{ content }}

  <footer class="footer bg-dark">
    <div class="footer-div">
      <span class="text-muted">{% t 'index.footer_text' %} - 2021</span>
    </div>
  </footer>

</body>

</html>